<!DOCTYPE html>
<head>
    <meta charset="UTF-8"> 
    <title>Hotel Images</title> 
      <meta name="viewport" content="width=device-width, initial-scale=1"> 
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"> 
      </script> 
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"> 
      </script> 
</head> 
<body> 
  

            <div class="col-md-4"> 
                <!--{{ Hotels.Chart_No }}-->
                <img src="{{ Hotels.Pathological_Section.url }}" class="img-responsive" style="width: 100%; float: left; margin-right: 10px;" /> 
            </div> 

    <!--<form action="image_upload" enctype="multipart/form-data">
            <button type="submit">Upload</button> 
    </form>-->

</body>
</html>